{% extends './template.html' %}

{% block content %}
<!-- Page Add Section Begin -->
<section class="page-add">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-breadcrumb">
                    <h2>Finalizar compra<span>.</span></h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Page Add Section End -->

<!-- Cart Total Page Begin -->
<section class="cart-total-page spad">
    <div class="container">
        <form action="#" class="checkout-form">
            <div class="row">
                <div class="col-lg-12">
                    <h3>Tu información</h3>
                </div>
                <div class="col-lg-9">
                    <div class="row">
                        <div class="col-lg-2">
                            <p class="in-name">Nombres*</p>
                        </div>
                        <div class="col-lg-5">
                            <input type="text" placeholder="Nombre">
                        </div>
                        <div class="col-lg-5">
                            <input type="text" placeholder="Apellido">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-2">
                            <p class="in-name">Dirección*</p>
                        </div>
                        <div class="col-lg-10">
                            <input type="text">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-2">
                            <p class="in-name">Telefono*</p>
                        </div>
                        <div class="col-lg-10">
                            <input type="text">
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="order-table">
                        <div class="cart-item">
                            <span>Product</span>
                            <p class="product-name">Blue Dotted Shirt</p>
                        </div>
                        <div class="cart-item">
                            <span>Price</span>
                            <p>$29</p>
                        </div>
                        <div class="cart-item">
                            <span>Quantity</span>
                            <p>1</p>
                        </div>
                        <div class="cart-item">
                            <span>Shipping</span>
                            <p>$10</p>
                        </div>

                        <div class="cart-total">
                            <span>Total</span>
                            <p>$39</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="payment-method">
                        <h3>Método de Pago</h3>
                        <div class="shipping-info">
                            <div class="chose-shipping">
                                <div class="cs-item">
                                    <input type="radio" name="cs" id="one">
                                    <label for="one" class="active">
                                        Tarjeta Crédito / Débito
                                    </label>
                                </div>
                                <div class="cs-item last">
                                    <input type="radio" name="cs" id="three">
                                    <label for="three">
                                        Pagar en efectivo cuando llegue el pedido
                                    </label>
                                </div>
                            </div>
                        </div>
                        <h3>Método de Envío</h3>
                        <div class="shipping-info">
                            <div class="chose-shipping">
                                <div class="cs-item">
                                    <input type="radio" name="cs" id="two">
                                    <label for="two" class="active">
                                        Envio a domicilio
                                    </label>
                                </div>
                                <div class="cs-item last">
                                    <input type="radio" name="cs" id="four">
                                    <label for="four">
                                        Retirar en sucursal
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="shopping-method">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="total-info">
                                            <div class="total-table">
                                                <table>
                                                    <thead>
                                                        <tr>
                                                            <th>Total</th>
                                                            <th>Subtotal</th>
                                                            <th>Envio</th>
                                                            <th class="total-cart">Total Carrito</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td class="total">{{ session.cart.totalPrice || 0 }}</td>
                                                            <td class="sub-total">{{ session.cart.totalPrice || 0 }}
                                                            </td>
                                                            <td class="shipping">$10</td>
                                                            <td class="total-cart-p">
                                                                ${{ (session.cart.totalPrice + 10) || 0 }}
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-12 text-right">
                                                    <a href="/check-out" class="primary-btn chechout-btn">Finalizar
                                                        Compra</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>


<!-- Cart Total Page End -->
{% endblock %}

{% block scripts %}
<script>
    $(function () {
        $(".loader").fadeOut();
        $("#preloder").delay(200).fadeOut("slow");
    })
</script>
{% endblock %}