{% extends './template.html' %}

{% block content %}
<!-- Page Add Section Begin -->
<section class="page-add">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="page-breadcrumb">
                    <h2>Contacto<span>.</span></h2>
                    <p>Completa el formulario</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Page Add Section End -->

<!-- Contact Section Begin -->
<div class="contact-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="contact-form">
                    <div class="row">
                        <div class="col-lg-6">
                            <input type="text" placeholder="Nombre" id="nombre" />
                        </div>
                        <div class="col-lg-6">
                            <input type="text" placeholder="Apellido" id="apellido" />
                        </div>
                        <div class="col-lg-12">
                            <input type="email" placeholder="E-mail" id="email" />
                            <input type="text" placeholder="Asunto" id="asunto" />
                            <textarea placeholder="Mensaje" id="mensaje"></textarea>
                        </div>
                        <div class="col-lg-12 text-right">
                            <button type="button" onclick="postMensaje()">Enviar mensaje</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 offset-lg-1">
                <div class="contact-widget">
                    <div class="cw-item">
                        <h5>Ubicación</h5>
                        <ul>
                            <li>Av. Acapulco 356,</li>
                            <li>Santa Clara del Mar, Buenos Aires</li>
                        </ul>
                    </div>
                    <div class="cw-item">
                        <h5>Telefono</h5>
                        <ul>
                            <li>0223 460-2374</li>
                        </ul>
                    </div>
                    <div class="cw-item">
                        <h5>E-mail</h5>
                        <ul>
                            <li>administracion@supermercadosaida.com.ar</li>
                            <li>www.supermercadoaida.com</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="map">
            <div class="row">
                <div class="col-lg-12">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4455.864218074561!2d-57.50850301274818!3d-37.842227757537295!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9584d19f086b2b97%3A0xcf4a64348f477bed!2sSupermercado%20Aida!5e0!3m2!1ses!2sar!4v1585323475249!5m2!1ses!2sar"
                        height="560" style="border:0;" allowfullscreen=""></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contact Section End -->
{% endblock %}

{% block scripts %}
<script>
    $(function () {
        $(".loading-screen").fadeOut(900);
    })

    async function postMensaje() {
        let body = {
            nombre: $("#nombre").val(),
            apellido: $("#apellido").val(),
            email: $("#email").val(),
            asunto: $("#asunto").val(),
            mensaje: $("#mensaje").val(),
        }

        $(".loading-screen").fadeIn(900);
        const res = await $.post("/contacto", body);
        $(".loading-screen").fadeOut(900);
        Swal.fire({
            type: res.type,
            title: res.title,
            text: res.text
        });

        if (res.type == "success") $(".contact-form input, .contact-form textarea").val("");
    }
</script>
{% endblock %}