{% extends './template.html' %}

{% block content %}
<style>
    .mySlides {
        display: none
    }

    .mySlides img {
        vertical-align: middle;
    }

    /* Slideshow container */
    .slideshow-container {
        width: 100%;
        position: relative;
        margin: auto;
        height: 450px;
    }

    /* Next & previous buttons */
    .prev,
    .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        padding: 16px;
        margin-top: -22px;
        color: white !important;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
    }

    .prev:hover,
    .next:hover {
        background-color: rgba(0, 0, 0, 0.8);
    }

    /* Position the "next button" to the right */
    .prev {
        left: 20px;
        border-radius: 3px 0 0 3px;
    }

    .next {
        right: 20px;
        border-radius: 3px 0 0 3px;
    }

    /* Caption text */
    .text {
        color: #f2f2f2;
        font-size: 15px;
        padding: 8px 12px;
        position: absolute;
        bottom: 8px;
        width: 100%;
        text-align: center;
    }

    /* Number text (1/3 etc) */
    .numbertext {
        color: #f2f2f2;
        font-size: 12px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* Fading animation */
    .fadee {
        -webkit-animation-name: fadee;
        -webkit-animation-duration: 1.5s;
        animation-name: fadee;
        animation-duration: 1.5s;
        height: 100%;
    }

    @keyframes fadee {
        from {
            opacity: .4
        }

        to {
            opacity: 1
        }
    }

    /* On smaller screens, decrease text size */
    @media only screen and (max-width: 300px) {

        .prev,
        .next,
        .text {
            font-size: 11px
        }
    }

    .caption {
        padding: 50px 80px;
        border-radius: 20px;
        background: red;
        background-color: rgba(0, 0, 0, 0.4);
        display: flex;
        flex-direction: column;
    }

    .caption h1 {
        color: white;

    }

    .caption button {
        background-color: #ed1b24;
        color: white;
        margin-top: 40px;
    }

    .caption button:hover {
        background-color: #ed1b24;
        color: #ddd;
    }

    .cantidades {
        border: none;
        width: 100%;
        height: 45px;
        line-height: 45px;
        box-sizing: border-box;
        background: #fff;
        z-index: 0;
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    .cantidades a {
        padding: 0 10px;
        font-size: 25px;
        color: #ed1b24 !important;
        font-weight: bold;
        cursor: pointer;
    }

    .cantidades input {
        text-align: center;
        font-size: 16px;
        width: 40%;
        border: 0;
    }

    #videoContainer {
        width: 100%;
        display: flex;
    }

    @media only screen and (min-width: 700px) {
        #videoContainer {
            max-height: 70vh;
        }
    }

    #videoContainer video {
        width: 80%;
    }

    @media only screen and (max-width: 700px) {
        #videoContainer video {
            width: 100%;
        }
    }

    .single-product-item figure,
    .single-product-item figure img {
        border-radius: 20px;
    }

    .imgContainer {
        min-height: 175px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .imgContainer img {
        max-height: 175px;
    }
</style>
<!-- <link rel="stylesheet" href="css/slider.css"> -->
<link rel="stylesheet" href="css/productos/productos.css">
<!-- <div class="slideshow-container">

    <div class="mySlides fadee">
        <img src="img/home.png" style="height: 100%; width:100%;">
    </div>

    <div class="mySlides fadee">
        <img src="img/home.png" style="height: 100%; width:100%;">
    </div>

    <div class="mySlides fadee">
        <img src="img/home.png" style="height: 100%; width:100%;">
    </div>

    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>

</div> -->

<div id="videoContainer"
    style="justify-content: center; position: relative; background-image: url(img/food-pattern-png.png);">
    <video autoplay muted loop src="/video/descuentos.mp4"></video>
</div>

<!-- Slider -->
<!-- <div class="container-all">

    <input type="radio" name="image-slide" id="1" hidden>
    <input type="radio" name="image-slide" id="2" hidden>
    <input type="radio" name="image-slide" id="3" hidden>

    <div class="slide">

        <div class="item-slide">
            <img src="img/slider-1.jpg">
        </div>

        <div class="item-slide">
            <img src="img/slider-2.jpg">
        </div>

        <div class="item-slide">
            <img src="img/slider-3.jpg">
        </div>
    </div>
    <div class="pagination">

        <label class="pagination-item" for="1">
            <img src="img/slider-1.jpg">
        </label>

        <label class="pagination-item" for="2">
            <img src="img/slider-2.jpg">
        </label>

        <label class="pagination-item" for="3">
            <img src="img/slider-3.jpg">
        </label>

    </div>
</div> -->
<!-- Slider end -->

<!-- Features Section Begin -->
<section class="features-section spad">
    <div class="features-ads">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="single-features-ads">
                        <div style="display: flex; align-items: center; justify-content: center;height: 150px;">
                            <img src="img/icons/chat.png" alt="" />
                        </div>
                        <h4>Hace tu pedido desde casa</h4>
                        <p>
                            Fusce urna quam, euismod sit amet mollis
                            quis, vestibulum quis velit. Vesti bulum mal
                            esuada aliquet libero viverra cursus.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-features-ads">
                        <div style="display: flex; align-items: center; justify-content: center;height: 150px;">
                            <img src="img/icons/f-delivery.png" alt="" />
                        </div>
                        <h4>Nosotros te lo enviamos</h4>
                        <p>
                            Urna quam, euismod sit amet mollis quis,
                            vestibulum quis velit. Vesti bulum mal
                            esuada aliquet libero viverra cursus.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-features-ads">
                        <div style="display: flex; align-items: center; justify-content: center;height: 150px;">
                            <img src="img/icons/coin.png" alt="" />
                        </div>
                        <h4>Envios Gratis</h4>
                        <p>
                            Urna quam, euismod sit amet mollis quis,
                            vestibulum quis velit. Vesti bulum mal
                            esuada aliquet libero viverra cursus.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Features Box -->
    <!-- <div class="features-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="single-box-item first-box">
                                <img src="img/f-box-1.jpg" alt="" />
                                <div class="box-text">
                                    <span class="trend-year">2019 Party</span>
                                    <h2>Jewelry</h2>
                                    <span class="trend-alert">Trend Allert</span>
                                    <a href="#" class="primary-btn">See More</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="single-box-item second-box">
                                <img src="img/f-box-2.jpg" alt="" />
                                <div class="box-text">
                                    <span class="trend-year">2019 Trend</span>
                                    <h2>Footwear</h2>
                                    <span class="trend-alert">Bold & Black</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="single-box-item large-box">
                        <img src="img/f-box-3.jpg" alt="" />
                        <div class="box-text">
                            <span class="trend-year">2019 Party</span>
                            <h2>Collection</h2>
                            <div class="trend-alert">Trend Allert</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
</section>
<!-- Features Section End -->

<!-- Latest Product Begin -->
<section class="latest-products spad">
    <div style="margin: 0 30px;">
        <div class="product-filter">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-title">
                        <h2>Productos Mas Vendidos</h2>
                        <button class="btn" style="margin-top: 20px; color: white; background-color: #ed1b24;">Ver todos
                            los
                            productos</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row productos" id="product-list">

        </div>
    </div>
</section>
<!-- Latest Product End -->

{% endblock %}

{% block scripts %}
<script>

    function EnviarMensaje() {
        let telefono = "542233057982"
        let URL = `https://api.whatsapp.com/send?phone=${telefono}`
        window.open(URL, '_blank');
    }

    $(window).on('load', function () {
        loadProductosMasVendidos();
    });

    async function loadProductosMasVendidos() {
        const data = await $.getJSON("/inicio");
        let html = "";
        data.map(p => {
            html += `
                <div class="col-6 col-md-4 col-lg-3 col-xl-2">
                    <div class="single-product-item">
                        <figure class="imgContainer">
                            <img src="img/products_images/${p.imagen}" alt="">
                        </figure>
                        <div class="itemNameContainer">
                            <p class="itemName">${ p.larga}</p>
                        </div>
                        <div class="itemNameContainer">
                            <p>${p.marca}</p>
                        </div>
                        <div class="priceContainer">
                            <p class="price">$ ${ p.st_precio1.toFixed(2)}</p>
                        </div>
                        <div class="cantidades">
                            <button class="btn btn-default btnCantidades" onclick="Cantidades(this, 0)">-</button>
                            <input type="text" readonly value="1">
                            <button class="btn btn-default btnCantidades" onclick="Cantidades(this, 1)">+</button>
                        </div>
                        <button class="btn btn-block btnAgregar" onclick="AddToCart(this, '${p.codigo1}', '${p.larga}', '${p.st_precio1}', '${p.imagen}')">Agregar</button>
                    </div>
                </div>
            `
        });

        $("#product-list").html(html);
        $(".loading-screen").fadeOut();
    }

    // var slideIndex = 1;
    // showSlides(slideIndex);

    // function plusSlides(n) {
    //     showSlides(slideIndex += n);
    // }

    // function currentSlide(n) {
    //     showSlides(slideIndex = n);
    // }

    // function showSlides(n) {
    //     var i;
    //     var slides = document.getElementsByClassName("mySlides");
    //     if (n > slides.length) { slideIndex = 1 }
    //     if (n < 1) { slideIndex = slides.length }
    //     for (i = 0; i < slides.length; i++) {
    //         slides[i].style.display = "none";
    //     }
    //     slides[slideIndex - 1].style.display = "block";
    // }

    async function Cantidades(elem, t) {
        let cantidad = t == 1 ? $(elem).prev().val() : $(elem).next().val()
        cantidad = parseFloat(cantidad);
        if (cantidad == 1 && t == 0) {
            return
        }

        if (t == 1) {
            cantidad++;
            $(elem).prev().val(cantidad);
        } else {
            cantidad--;
            $(elem).next().val(cantidad);
        }
    }

    async function AddToCart(elem, id, nombre, precio, imagen) {
        let cantidad = $(elem).prev().find("input").val()
        const body = {
            id,
            nombre,
            cantidad,
            precio,
            imagen
        }
        const res = await $.post("/carrito/agregar", body);
        Swal.fire({
            type: res.type,
            title: res.title,
            text: res.text
        }).then(() => {
            $(".cantidadCarrito").text(res.cantidadCarrito);
        })
    }

</script>
{% endblock %}