/* Categorias */
#categoriasContainer {
    padding-right: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

#productsContainer {
    padding-left: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

#categoriasContainer .heading,
#productsContainer .heading {
    width: 100%;
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

#categoriasContainer .heading {
    border-right: 1px solid #ddd;
}

.heading span {
    font-size: 1.6em;
}

#categoriasContainer .categorias {
    display: flex;
    flex-direction: column;
    max-height: 80vh;
    overflow-y: scroll;
    border-bottom: 1px solid #ddd;
}

.categorias .depto {
    display: flex;
    justify-content: space-between;
    padding: 20px 10px;
    border-bottom: 1px solid #ddd;
}

.categorias .depto:hover {
    cursor: pointer;
    background-color: #ed1b24;
    color: white;
    transition: all 0.3s;
}

.categorias .depto span {
    font-weight: bold;
    font-size: 0.9em;
}

.categorias .depto i {
    color: #ddd;
}

/* productos */
#productsContainer .productos {
    padding: 20px 50px;
}

#productsContainer .subheading {
    width: 100%;
    padding: 15px 50px;
    border-bottom: 1px solid #ddd;
}

#filtroContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.productos .single-product-item {
    padding: 10px 20px;
}

.productos .single-product-item p {
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif !important;
}
.single-product-item .itemNameContainer {
    min-height: 70px;
    position: relative;
}

.single-product-item p.itemName {
    font-size: 0.8em;
    color: black;
    font-weight: bold;
}

.single-product-item .priceContainer {
    text-align: center;
}

.single-product-item .price {
    color: #ed1b24;
    font-weight: bold;
}

.single-product-item .cantidades .btnCantidades {
    border: 1px solid #ddd;
    padding: 0 15px;
}

.dropdown-container {
    display: none;
    flex-direction: column;
    transition: all 3.5s;
}

.dropdown-container .submenu {
    padding: 10px 0 10px 30px;
    border-bottom: 1px solid red;
}

.dropdown-container .submenu:hover {
    cursor: pointer;
}

.submenu a {
    color: #7b7b7b;
}

.depto.active {
    background-color: #ed1b24;
    color: white;
}

.dropdown-container .submenu:hover a {
    color: red;
}

.cantidades {
    border: none;
    width: 100%;
    height: 45px;
    line-height: 45px;
    box-sizing: border-box;
    background: #fff;
    z-index: 0;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.cantidades a {
    padding: 0 10px;
    font-size: 25px;
    color: #ed1b24 !important;
    font-weight: bold;
    cursor: pointer;
}

.cantidades input {
    text-align: center;
    font-size: 16px;
    width: 40%;
    border: 0;
}

.btnAgregar {
    background: #ed1b24;
    color: white;
}

.btnAgregar:hover {
    color: #f2fcf5;
}

.single-product-item figure, .single-product-item figure img {
    border-radius: 20px;
}

.imgContainer {
    min-height: 175px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.imgContainer img {
    max-height: 175px;
}

/* responsive */
@media only screen and (max-width: 700px) {
    #productsContainer .productos {
        padding: 20px;
    }

    .productos .single-product-item {
        padding: 10px;
    }
}

#busquedaContainer, #categoriasContainer {
    display: flex;
    flex-direction: row;
}

@media only screen and (max-width: 1024px) {
    #categoriasContainer .categorias {
        max-height: 30vh;
    }

    #busquedaContainer, #categoriasContainer {
        flex-direction: column;
    }

    #cmbCategoriaContainer, #cmbRubrosContainer, #inputBusqueda {
        margin-bottom: 20px;
    }

    #btnFiltrar {
        width: 100%;
    }

    #filtroContainer {
        flex-direction: column;
    }
}

@media only screen and (min-width: 1024px) {
    #cmbCategoriaContainer, #cmbRubrosContainer {
        margin-right: 20px;
    }

    #btnFiltrar {
        align-self: flex-end;
    }
}

#pagination {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3em;
}

#pagination .pageContainer {
    padding: 10px;
}

#pagination .buttons {
    display: flex; justify-content: center;
}

#pagination .buttons button {
    margin: 0 5px;
}