{% extends '../../template.html' %}
{% block content %}
<style>
    .page-add .page-breadcrumb {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }

    .cart-page {
        margin-bottom: 100px;
    }

    #tablemobile {
        width: 100%;
        padding: 10px 0;
    }

    .cart-table {
        max-height: 80vh;
        overflow-y: scroll;
        margin-top: 40px;
        border-top: 2px solid #ddd;
        border-left: 2px solid #ddd;
        padding: 0 20px;
        border-bottom: 2px solid #ddd;
        border-radius: 25px;
    }

    #tablaCarrito tr td {
        margin-bottom: 10px;
    }

    .theadfixed tr:first-child>th {
        position: sticky !important;
        top: 0 !important;
        z-index: 2 !important;
        background: white;
        border-bottom: 2px solid #ddd;
    }

    .heading {
        padding: 15px;
        text-align: center;
        border-bottom: 1px solid #ddd;
    }

    .heading span {
        font-size: 1.6em;
    }
</style>

<div class="heading">
    <span>Carrito</span>
</div>

{% if cart.length == 0 %}
<div id="carritoVacio" style="text-align: center; margin-top: 50px; display: none;">
    <p>El carrito está vacío</p>
    <p>Agrega productos para realizar una compra</p>
</div>
{% endif %}
<!-- Page Add Section Begin -->
<!-- <section class="page-add cart-page-add">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="page-breadcrumb">
                    <div>
                        <h3>Carrito<span>.</span></h3>
                    </div>
                    <div>
                        <h5>Total: $ <span id="spanTotal"></span></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->
<!-- Page Add Section End -->

<!-- Cart Page Section Begin -->
<div class="cart-page">
    <div id="tablemobile">

    </div>
    <div class="container" id="tabledesktop">
        {% if cart.length %}
        <div class="cart-table">
            <table id="tablaCarrito">
                <thead class="theadfixed">
                    <tr>
                        <th class="product-h">Producto</th>
                        <th>Precio</th>
                        <th class="quan">Cantidad</th>
                        <th>Total</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>

        <div class="cart-btn">
            <div class="row">
                <div class="col-12 text-left text-lg-right">
                    <button class="btn" onclick="VaciarCarrito()"
                        style="background-color: #ed1b24; color: white;">Vaciar Carrito</button>
                    <a href="/check-out" class="btn btn-primary">Comprar</a>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
<!-- Cart Page Section End -->
{% endblock %}

{% block scripts %}
<script>

    $(function () {
        getCarrito();
        $(".loading-screen").fadeOut(900);
    })

    async function getCarrito() {
        const data = await $.getJSON("/carrito/lista");
        let html, html2 = "";

        if (!data.cart) {
            return $("#carritoVacio").show();
        }

        data.cart.map(c => {
            html += `
                    <tr>
                        <td class="product-col">
                            <img src="img/logo.jpg" alt="">
                            <div class="p-title">
                                <p>${c.nombre}</p>
                            </div>
                        </td>
                        <td class="price-col">$ ${c.precio}</td>
                        <td class="quantity-col">
                            <div class="pro-qty">
                                <span class="dec qtybtn" onclick="ModificarItem('decrease', '${c.id}')">-</span>
                                <input type="text" value="${c.cantidad}">
                                <span class="inc qtybtn" onclick="ModificarItem('add', '${c.id}')">+</span>
                            </div>
                        </td>
                        <td class="total">$ ${(c.precio * c.cantidad).toFixed(2)}</td>
                        <td class="product-close">
                            <button style="font-weight: bold;" class="btn btn-danger"
                                onclick="EliminarItem('${c.id}')">X</button>
                        </td>
                    </tr>
                `;
            html2 += `
                    <div style="padding: 10px 0; border-bottom: 1px solid black; font-size: 11px; display: flex; align-items: center;">
                        <div style="padding: 0 5px; width: 24%; display: flex; justify-content:space-around; align-items: center;">
                            <button class="myButton" onclick="ModificarItem('decrease', '${c.id}')">-</button>
                            ${c.cantidad}
                            <button class="myButton" onclick="ModificarItem('add', '${c.id}')">+</button>
                        </div>
                        <div style="width: 50%;">${c.nombre}</div>
                        <div style="width: 13%;">$ ${c.precio}</div>
                        <div style="width: 13%;">
                            <button class="myButton" onclick="EliminarItem('${c.id}')">X</button>
                        </div>
                    </div>
                `;
        });

        $("#tablaCarrito tbody").html(html);
        html2 += `
            <div style="display: flex; justify-content: flex-end; padding: 20px 10px;">
                <button class="myButton" onclick="VaciarCarrito()"
                    style="background-color: #ed1b24; color: white;">Vaciar Carrito</button>
                <a href="/check-out" class="myButton" style="margin-left: 10px;">Comprar</a>
            </div>
        `;
        $("#tablemobile").html(html2);
        $("#spanTotal").text(data.total);
        $(".cantidadCarrito").text(data.cart.length || 0);
    }

    async function ModificarItem(accion, id) {
        const res = await $.post("/carrito/modificar", { accion, id });
        getCarrito();
    }

    function EliminarItem(id) {
        Swal.fire({
            title: 'Confirmar',
            text: "Esta seguro de eliminar este producto del carrito?",
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Aceptar',
            cancelButtonText: 'Cancelar'
        }).then(async (result) => {
            if (result.value) {
                const res = await $.post("/carrito/modificar", { accion: "remove", id });
                getCarrito();
            }
        })
    }

    async function VaciarCarrito() {
        const res = await $.post("/carrito/modificar", {
            accion: "clear"
        });

        Swal.fire({
            type: res.type,
            title: res.title,
            text: res.text
        }).then(() => location.reload());
    }
</script>
{% endblock %}