{% extends '../../template.html' %}

{% block content %}

<link rel="stylesheet" href="css/productos/productos.css">

<div class="row" style="margin: 0; position: relative">
    <div class="col-12 col-lg-2" id="categoriasContainer" style="padding: 0;">
        <div class="heading">
            <span>Categorias</span>
        </div>
        <div class="categorias">
            {% for c in categorias %}
            <div class="depto dropdown-btn">
                <!-- <div class="depto dropdown-btn" onclick="getProductos('{{ c.codigo }}')"></div> -->
                <span>{{ c.nombre }}</span>
                <i class="fa fa-caret-down"></i>
            </div>
            <div class="dropdown-container">
                <div class="submenu">
                    <a href="#">Link 1</a>
                </div>
                <div class="submenu">
                    <a href="#">Link 2</a>
                </div>
                <div class="submenu">
                    <a href="#">Link 3</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="col-12 col-lg-10" id="productsContainer">
        <div class="heading">
            <span>Productos</span>
        </div>
        <div class="subheading" style="display: flex; justify-content: space-between;">
            <span>Productos {{ pagename }}</span>
            <span>filtrar productos</span>
        </div>
        <div class="row productos">

        </div>
    </div>
</div>

{% endblock %}
{% block scripts %}
<script>

    var dropdown = document.getElementsByClassName("dropdown-btn");
    var i;

    for (i = 0; i < dropdown.length; i++) {
        dropdown[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var dropdownContent = this.nextElementSibling;
            if (dropdownContent.style.display === "flex") {
                dropdownContent.style.display = "none";
            } else {
                dropdownContent.style.display = "flex";
            }
        });
    }

    $(function () {
        getProductos();
    });

    async function getProductos(idCategoria) {
        $(".loading-screen").fadeIn(900);
        const data = await $.getJSON("/productos/todos");
        let html = "";
        data.map(p => {
            html += `
                <div class="col-6 col-lg-3 col-md-4">
                    <div class="single-product-item">
                        <figure>
                            <img src="img/logo.jpg" alt="">
                        </figure>
                        <div class="itemNameContainer">
                            <p class="itemName">${ p.st_larga}</p>
                        </div>
                        <p>${p.marca}</p>
                        <div class="priceContainer">
                            <p class="price">$ ${ p.st_precio1.toFixed(2)}</p>
                        </div>
                        <div class="cantidades">
                            <button class="btn btn-default btnCantidades" onclick="Cantidades(this, 0)">-</button>
                            <input type="text" readonly value="1">
                            <button class="btn btn-default btnCantidades" onclick="Cantidades(this, 1)">+</button>
                        </div>
                        <button class="btn btn-block btnAgregar" onclick="AddToCart(this, '${p.st_codigo1}', '${p.st_larga}', '${p.st_precio1}')">Agregar</button>
                    </div>
                </div>            
            `;
        });
        $(".productos").html(html);
        $(".loading-screen").fadeOut(900);
    }

    async function Cantidades(elem, t) {
        let cantidad = t == 1 ? $(elem).prev().val() : $(elem).next().val()
        cantidad = parseFloat(cantidad);
        if (cantidad == 1 && t == 0) return;

        if (t == 1) {
            cantidad++;
            $(elem).prev().val(cantidad);
        } else {
            cantidad--;
            $(elem).next().val(cantidad);
        }
    }

    async function AddToCart(elem, id, nombre, precio) {
        let cantidad = $(elem).prev().find("input").val()
        const body = {
            id,
            nombre,
            cantidad,
            precio
        }
        const res = await $.post("/carrito/agregar", body);
        Swal.fire({
            type: res.type,
            title: res.title,
            text: res.text
        })
        $(".cantidadCarrito").text(res.cantidadCarrito);
    }

    async function ProductosByCategoria() {
        let idCategoria = $("#cmbCategorias").val();
        if (!idCategoria) return;

        $(".loader").fadeIn();
        $("#preloder").delay(200).fadeIn("slow");

        const data = await $.getJSON("/productos/categoria/" + idCategoria);

        let html = "";
        data.map(p => {
            html += `
                <div class="col-lg-2 col-md-2">
                    <div class="single-product-item">
                        <figure style="border-radius: 20px;">
                            <img src="img/logo.jpg" alt="" style="border-radius: 20px;">
                        </figure>
                        <div>
                            <p style="font-size: 13px; color: black; font-weight: bold;">${ p.st_nombre}</p>
                            <p style="color: #ed1b24; font-weight: bold;">$ ${ p.st_precio1.toFixed(2)}</p>
                        </div>
                        <div class="cantidades">
                            <button class="btn btn-default" style="border: 1px solid #ddd; padding: 0 15px;" onclick="Cantidades(this, 0)">-</button>
                            <input type="text" readonly value="1">
                            <button class="btn btn-default" style="border: 1px solid #ddd; padding: 0 15px;" onclick="Cantidades(this, 1)">+</button>
                        </div>
                        <button class="btn btn-block btn-danger" onclick="AddToCart(this, '${p.st_codigo1}', '${p.st_nombre}', '${p.st_precio1}')">Agregar</button>
                    </div>
                </div>            
            `;
        });

        $("#productosContainer").html(html);
        $(".loader").fadeOut();
        $("#preloder").delay(200).fadeOut("slow");
    }

</script>
{% endblock %}